body {
  background: #ee9ca7;  
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7); 
  background: linear-gradient(to right, #ffdde1, #ee9ca7); 
  font-family: arial;
  margin: 0px;
}

h1 {
  font-family: 'Bitter-Regular', cursive, bold;
  font-size: 32px;
  color:#ff66c4;
  
}

h2, h3, h4 {
  font-family: 'Bitter-Regular', cursive;
  font-size: 20px;
  color: #737373;
}

a, a:hover {
  text-decoration: none;
}

p, ul, ol {
  font-size: 15px;
  font-family: 'Bitter-Regular', cursive;
   color: #737373;
}

.cadre {
  background: white;
  border: 5px solid #ff66c4;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}
.cadre h4 {
  font-family: 'Bitter-Regular', cursive, bold;
  font-size: 25px;
  color:#ff66c4;
 }
.cadre h1 {
  color : #ff66c4;
  }

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px grey;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-gris {
  color: #737373;
}

.btn-pink {
  display: inline-block;
  color: #737373;
  background: #f8e7ea;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-pink:hover {
  color: white;
  opacity: 0.8;
}

.logo {
  height: 70px;
  margin: 5px;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.links {
  display: flex;
  justify-content: flex-end;

}

.link {
  margin: 10px 30px;
  color:#ff66c4
}

.link: hover {
  color: #458D2E;
}

.line-transparent {
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}

.line-light {
  height: 5px;
  width: 20%;
  background: #f8e7ea;
}

.line-medium {
  height: 5px;
  width: 30%;
  background: #ff66c4;
}

.line-hard {
  height: 5px;
  width: 50%;
  background: #737373;
}
  
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #ff66c4;;
  opacity: .92;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.mes-qualites {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.mes-qualites h4 {
  font-family: 'Bitter-Regular', cursive;
  font-size: 20px;
  color:#ff66c4; }

.cadre-humeur {
  background: white;
  border: 5px solid #ff66c4;
  margin: 0px 10px 0px 0px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  width: 1000px;
  font-family: 'Bitter-Regular', cursive;
  font-size: 15px;
  color:#737373;
}

.cadre-organisation {
  background: white;
  border: 5px solid #ff66c4;
  margin: 0px 10px 0px 0px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  width: 1000px;
  font-family: 'Bitter-Regular', cursive;
  font-size: 15px;
  color:#737373;
}

.cadre-reactivite {
  background: white;
  border: 5px solid #ff66c4;
  margin: 0px 10px 0px 0px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  width: 1000px;
  font-family: 'Bitter-Regular', cursive;
  font-size: 15px;
  color:#737373;
}

.picto  {
  width: 200px;
  height: 200px;

  }

